<div class ="row">
<div class="col-xs-5">
<h3>Address</h3>
<address>
    3599 Pennsylvania Avenue,<br>
    Apt #203<br>
    Fremont<br>
    California-94536<br> 
</address>
</div>
<div class="col-xs-9">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3163.1198827924936!2d-121.99010404957014!3d37.55223923260619!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fc08377e8f63d%3A0x29e183f534dd4aa8!2s3599+Pennsylvania+Ave%2C+Fremont%2C+CA+94536%2C+USA!5e0!3m2!1sen!2sin!4v1492726685559" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>